<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>관리자</title>
    <style>
      /* 기본 리셋 */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html, body {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: #0F0;
        font-family: monospace;
        overflow: hidden;
      }

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
      }

      .container {
        max-width: 1200px;
        width: 100%;
        padding: 0px 20px 0px 20px;
        background: rgba(0, 0, 0, 0.7);
        border: 1px solid #0F0;
        border-radius: 8px;
      }

      h1, h2 {
        margin-bottom: 20px;
        color: #0F0;
      }

      .logout-btn {
        padding: 10px 20px;
        background-color: #0F0;
        color: #000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
        font-size: 1em;
        margin: 20px 10px;
      }

      .btn {
        padding: 10px 20px;
        background-color: #0F0;
        color: #000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
        font-size: 1em;
        margin-top: 10px;
      }

      .btn-border {
        padding: 10px 20px;
        background-color: transparent;
        color: #0F0;
        border: 1px solid #0F0;
        border-radius: 4px;
        cursor: pointer;
        font-family: inherit;
        font-size: 1em;
        margin-top: 10px;
      }

      .list-group {
        margin: 30px 0 30px 0;
        gap: 50px;
      }

      .list-group-item {
        background-color: rgba(0, 0, 0, 0.4);
        color: #0F0;
        border: 1px solid #0F0;
        padding: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 10px;
      }

      .horizontal-list {
        display: flex;
        padding: 0 20px;
        gap: 100px;
        margin-bottom: 30px;
      }

      .request {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  .led-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  .led-available {
    background-color: gray; /* 대기 중 */
  }
  .led-selected {
    background-color: #0f0; /* 본인 처리 중 */
  }
  .led-unavailable {
    background-color: #f00; /* 타인 처리 중 */
  }

  #author {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #0F0;
  }

  /* Canvas 스타일 */
  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
<script src="/admin/adminWebSocket.cjs"></script>
<script>
  const socket = io.connect('http://localhost:4502', {
    path: '/admin/online',
  });

  $(adminWebSocketInit());

  function alertUserInfo(element) {
    console.log('b');
  }
</script>
</head>
<body>
  <canvas id="c"></canvas>

  <div class="container">

    <div class="list-group">
      <h2>현재 접속 중</h2>
      <ul class="horizontal-list" id="presentList">
        <% if (presentAdmin != undefined) { presentAdmin.forEach(element => { %>
        <li name="imHere" style="font-size: 9pt;"><%= element %></li>
        <% }); } %>
      </ul>
    </div>

    <div class="list-group">
      <h2>인증 대기 유저</h2>
      <div class="list-group-item" id="waitingUserList">
        <% if (waitingUser != undefined && selected != undefined) { waitingUser.forEach((Item, index) => { %>
        <div id="div1-<%= index %>" class='request' onclick=fireSelected(this) >
          <!-- LED Indicator -->
          <div class="led-indicator <%= Item.status === 'available' ? 'led-available' : Item.status === 'selected' ? 'led-selected' : 'led-unavailable' %>"></div>
          <div>
            <p class="userObjectID" onclick=alertUserInfo(this) disabled><%= Item.Ruser %></p>
            <p class="imgLink" onclick=openNewWindow(this) style="pointer-events: none;"><%= Item.confirm_img %></p>
          </div>
          <div>
            <!-- 버튼의 disabled 속성 설정 -->
            <button type="button" class="btn-border" onclick=rejectUser(this) <%= Item.status !== 'selected' ? 'disabled' : '' %> >거부</button>
            <button type="button" class="btn btn" onclick=confirmUser(this) <%= Item.status !== 'selected' ? 'disabled' : '' %> >승인</button>
          </div>
        </div>
        <% }); } %>
      </div>
    </div>

    <div class="list-group">
      <h2>신고된 글목록</h2>
      <div class="list-group-item" id="warnedList">
        <% if (warned != undefined && selected != undefined) { warned.forEach((Item, index) => { %>
        <div id="div2-<%= index %>" class='request' onclick=fireSelected(this) >
          <p class="warnCount"><%= Item.count %></p>
          <p class="docLink" onclick=openNewWindow(this) style="pointer-events: none;"><%= Item.Rdoc %></p>
          <div>
            <!-- 버튼의 disabled 속성 설정 -->
            <button type="button" class="btn btn" onclick=confirmUser(this) <%= Item.status !== 'selected' ? 'disabled' : '' %> >페널티 및 삭제</button>
            <button type="button" class="btn-border" onclick=rejectUser(this) <%= Item.status !== 'selected' ? 'disabled' : '' %> >요청 취소</button>
          </div>
        </div>
        <% }); } %>
      </div>
    </div>

      <div class="list-group">
        <h2>탈퇴 유저 목록</h2>
        <p>누적 총 유저: <%= allUser %></p>
        <p>현재 총 유저: <%= allUser - quitUser %></p>
        <div id="quitUser">
          <% if (quitUser != undefined && selected != undefined) { quitUser.forEach((Item, index) => { %>
          <div class="list-group-item" id="div3-<%= index %>">
            <p><%= Item.reason %></p>
          </div>
          <% }); } %>
        </div>
      </div>

      <form action="/admin/logout" method="post" style="align-self: flex-end; display: flex;">
        <button type="submit" class="logout-btn" onsubmit="logout()">Logout</button>
      </form>

    </div>

    <span id="author">A-F Killer</span>

    <script>
      var c = document.getElementById("c");
      var ctx = c.getContext("2d");

      c.height = window.innerHeight;
      c.width = window.innerWidth;

      var matrix = "ABCDEFGHIJKLMNOPQRSTUVWXYZ123456789@#$%^&*()*&^%";
      matrix = matrix.split("");

      var font_size = 10;
      var columns = c.width / font_size;
      var drops = [];
      for (var x = 0; x < columns; x++) drops[x] = 1;

      function draw() {
        ctx.fillStyle = "rgba(0, 0, 0, 0.04)";
        ctx.fillRect(0, 0, c.width, c.height);

        ctx.fillStyle = "#0F0";
        ctx.font = font_size + "px arial";
        for (var i = 0; i < drops.length; i++) {
          var text = matrix[Math.floor(Math.random() * matrix.length)];
          ctx.fillText(text, i * font_size, drops[i] * font_size);

          if (drops[i] * font_size > c.height && Math.random() > 0.975) drops[i] = 0;

          drops[i]++;
        }
      }

      setInterval(draw, 30);
    </script>
  </body>
</html>
